include ../mixins/jinja
doctype html
html(lang="en")
  head
    meta(charset= "UTF-8")
    meta(name= "viewport", content= "initial-scale= 1.0, width= device-width, user-scalable=no")
    meta(http-equiv= "X-UA-Compatible", content= "IE=Edge")
    meta(name= "format-detection", content="telephone=no")
    title charts
    link(rel= "stylesheet", href!= static("'css/style.css'"))
    link(href= "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900", rel= "stylesheet")
  body.body
    block header
    block main
    .preloader(role= "application")
    block footer
  block scripts
    script(src!= static("'js/vendor.js'"))
    script(src!= static("'js/main.js'"))
