extends ./base

block main
  main#swup.main.transition-fade
    .content
      .title(aria-level=1 role="heading") This is charts
      .chart-container(style= "position: relative; height:230px;")
        canvas#chart(aria-label="chart")
      .js-chart(aria-label="chart" data-height= "150", data-coll-width= "20", data-offset= "30")
      .js-chart2(aria-label="chart" data-height= "150", data-coll-width= "20", data-offset= "30")
      a.link(href= "/" aria-describedby="linkToMainPage" aria-label="Go to main page") Go to main page
      div#linkToMainPage Go to main page where you can see description of site
