.content
  h 100%
  z-index 2
  position relative
  justify-content center
  display flex
  flex-direction column
  align-items center
  pa 0 16px
  box-sizing border-box
  ma 0 auto
  max-width 1200px