.main
  position relative
  h 100vh
  background linear-gradient(180deg, #eee 50%, $blue 50%)
  &:after,
  &:before
    content ''
    position absolute
    z-index 1
    top 0
    h 100%
    width 60%
  &:before
    left -4.3%
    border-bottom-right-radius 90%
    bg-color #eee
  &:after
    right -4.3%
    border-top-left-radius 90%
    bg-color $blue