.preloader
  top 50%
  left 50%
  width 50px
  z-index 99999
  height 50px
  opacity 0
  visibility hidden
  position absolute
  transform translate(-50%, -50%)
  &:before
    content ''
    width 100%
    height 100%
    background-color $green
    border-radius 5px
    position absolute
    z-index 3
    animation rotate .5s infinite linear both
  &:after
    content ''
    position absolute
    background-color #B4B4B4
    width 60px
    height 10px
    bottom -25px
    z-index 2
    left -5px
    transform scaleX(1)
    border-radius 50%
    animation scale .5s infinite linear both

@keyframes scale
  0%
    transform scaleX(1)
  
  50%
    transform scaleX(1.2)
  
  100%
    transform scaleX(1)
  

@keyframes rotate
  0%
    transform translateY(0) rotate(0deg)
    border-radius 3px
  
  50%
    transform translateY(20px) rotate(45deg)
    border-radius 3px
    border-bottom-right-radius 25px
  
  100%
    transform translateY(0) rotate(90deg)
    border-radius 3px
  