@media print
  .link
    color #000
  .preloader
    display none
  body
    fs 18px
    -webkit-print-color-adjust exact
    font-family "Times New Roman"
    position relative
    &:after
      content ''
      position absolute
      display flex
      justify-content center
      align-items center
      top 100px
      right 100px
      bg-color yellow
      border-radius 50%
      w 50px
      z-index 2
      h 50px
  .main
    -webkit-print-color-adjust exact
    background none
    &:after,
    &:before
      width 100%
    &:after
      bottom 0
      h 50%
      w 100%
      top auto
      right 0
      border-top-left-radius 0
    &:before
      left 0
      border-bottom-right-radius 0
      bg-color #eee
      w 100%
      h 50%