.transition-fade
  transition 1s
  opacity 1
.swup-enabled
  &.is-changing
    .preloader
      opacity 1
      visibility visible
  &.is-rendering
    .preloader
      opacity 0
      visibility hidden
html.is-animating
  .transition-fade
    opacity 0