<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale= 1.0, width= device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <title>charts</title>
    <link rel="stylesheet" href="{{ static( 'css/style.css' ) }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
  </head>
  <body class="body">
    <div class="preloader" role="application"></div>
  </body>
  <script src="{{ static( 'js/vendor.js' ) }}"></script>
  <script src="{{ static( 'js/main.js' ) }}"></script>
</html>