<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale= 1.0, width= device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <title>charts</title>
    <link rel="stylesheet" href="{{ static( 'css/style.css' ) }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
  </head>
  <body class="body">
    <main class="main transition-fade" id="swup">
      <div class="content">
        <div class="title" aria-level="1" role="heading">This is charts</div>
        <div class="chart-container" style="position: relative; height:230px;">
          <canvas id="chart" aria-label="chart"></canvas>
        </div>
        <div class="js-chart" aria-label="chart" data-height="150" data-coll-width="20" data-offset="30"></div>
        <div class="js-chart2" aria-label="chart" data-height="150" data-coll-width="20" data-offset="30"></div><a class="link" href="/" aria-describedby="linkToMainPage" aria-label="Go to main page">Go to main page</a>
        <div id="linkToMainPage">Go to main page where you can see description of site</div>
      </div>
    </main>
    <div class="preloader" role="application"></div>
  </body>
  <script src="{{ static( 'js/vendor.js' ) }}"></script>
  <script src="{{ static( 'js/main.js' ) }}"></script>
</html>